body {
    margin: 0;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#book {
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    width: 600px;
    border: 2px solid rgb(22, 77, 74);
    border-radius: 5px;
    background: none;
}

h2 {
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    color: rgb(22, 77, 74);
}

h5 {
    font-size: 15px;
    font-weight: 400;
}

label {
    float: left;
    padding: 10px 0 5px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

input {
    width: 580px;
    padding: 12px;
    margin: 1px;
    border-radius: 4px;
    border: 1px solid #010101;
}

#date, #time {
    width: 45%;
}

#timeLb {
    text-align: left;
    width: 100%;
}

#callBtn {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(22, 77, 74);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

#callBtn:hover {
    cursor: pointer;
}